@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
	--spacing: 8px;
	--height: 8px;
}

#space {
	height: var(--spacing);
	margin-top: -21px;
}

#site {
	margin-top: var(--spacing);
}

.text {
	color: white;
	font-family: "Nunito", serif;
	text-align: center;
}

h1 {
	background-color: black;
}

html {
	background-color: black;
}

a {
	color: cyan;
	font-family: "Nunito", serif;
	text-align: center;
}

#nav {
	color: white;
	font-family: "Nunito", serif;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	/* hmm word-spacing: 100px; */
}

#navbar {
	position: fixed;
	left: 0px;
	width: 100%;
	height: var(--height);
	msargin-top: calc((var(--spacing) * -1) + (var(--height) * -1));
	background-color: black;
	align-items: center;
}
